
/*body {*/
/*  margin: 0;*/
/*  !*font:normal 75% Arial, Helvetica, sans-serif;*!*/
/*  !*overflow-x: hidden !important;*!*/

/*}*/

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  background-color: #1d1e22;
  z-index: -1;
}

a {
  color: #d4d4dc !important;
}

a:hover {
  color: #feda6a !important;
}

html {
  scroll-behavior: smooth;
}
