<div id="particles-js"></div>

<div class="container fixed-bottom" id="social">
    <div class="row text-center">
        <div class="col">
            <a href="https://github.com/Guttulsrud"><h2 class="display-2 hvr-float animated infinite"><i
                            class="fab fa-github"></i></h2></a>
        </div>
        <div class="col">
            <a href="https://www.linkedin.com/in/h%C3%A5kon-guttulsrud-49080b77/"><h2
                        class="display-2 hvr-float animated infinite"><i class="fab fa-linkedin"></i></h2></a>
        </div>
        <div class="col">
            <a href="mailto:guttulsrud@outlook.com"><h2 class="display-2 hvr-float animated infinite"><i
                            class="far fa-envelope"></i></h2></a>
        </div>
    </div>
    <hr class="text-white bg-white">
</div>

